// bower:scss
// endbower
/*****************************
 SCSS Variables
******************************/
$default-font-size: 17;
$home-section-header: 40;

/*****************************
 SCSS Mixins
******************************/
@mixin font-size($px) {
    font-size: $px * 1px;
    font-size: $px / $default-font-size * 1rem;
}
@mixin box-sizing($value) {
    -webkit-box-sizing: $value; /* Android ≤ 2.3, iOS ≤ 4 */
    -moz-box-sizing: $value; /* Firefox ≤ 28 */
    box-sizing: $value; /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */
}
@mixin border-radius($value:$default-border-radius) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */

    /* useful if you don't want a bg color from leaking outside the border: */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}
@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    box-shadow: $shadows;
}
@mixin transition($transitions...) {
    -webkit-transition: $transitions;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
@mixin transform($transformations...) {
    -webkit-transform: $transformations;  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: $transformations;  /* IE 9 */
    transform: $transformations;  /* Firefox 16+, IE 10+, Opera */
}
@mixin fixed-wood-bg () {
  background: url("../images/wood.png");
  background-attachment: fixed;
}

/**************************************
 Resets
 **************************************/
html,body,div,span,applet,object,
iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,
tt,var,b,u,i,center,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}
body {
  font: 13px/1.1 Helvetica,sans-serif;
  line-height: 1;
  text-align: center;
}
ol,ul {
  list-style: none;
}
blockquote,q {
  quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
p{
  line-height: 1.6;
}
a {
  text-align: center;
  text-transform: uppercase;
}
a,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}
img {
  width: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Placeholer text color */
::-webkit-input-placeholder {
   color: #FFF;
}
:-moz-placeholder { /* Firefox 18- */
   color: #FFF;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;
}
:-ms-input-placeholder {
   color: #FFF;
}

/**************************************
 Grid System from http://j4n.co/blog/Creating-your-own-css-grid-system
 **************************************/
.grid-container {
  width: 100%;
  height: 100%;
  // max-width: 1200px;
}
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}
[class*='col-'] {
    float: left;
    min-height: 1px;
}
.col-1  { width: 8.33%;   }
.col-2  { width: 16.66%;  }
.col-3  { width: 25%;     }
.col-4  { width: 33.33%;  }
.col-5  { width: 41.66%;  }
.col-6  { width: 50%;     }
.col-7  { width: 58.33%;  }
.col-8  { width: 66.66%;  }
.col-9  { width: 75%;     }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%;   }

/**************************************
 Helper Classes
 **************************************/
.div-frame-outer {
  border: 3px solid #fff;
  padding: 3px;
}
.div-frame-inner {
  text-align: center;
  background: #fff;
}
.thin-white-bar {
  background: url("../images/thin-white-bar.png") repeat-x top left;
  height: 20px;
}
.margin-center {
  margin: 0 auto;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}
.relative {
  position: relative;
}

/**************************************
 Skrollr Parallax Helper Classes
 **************************************/
 #skrollr-body {
  // background: url("../images/wood-bg.jpg") repeat-x left top;
  height: 100%;
}
.skrollr-window {
    position: relative;
    // width: 100% !important;
    // min-width: 1000px;
    overflow: hidden;
}
.skrollr-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
  }
}

/**************************************
 App Styles
 **************************************/
nav#nav-outer {
  position: fixed;
  height: 20%;
  z-index: 1;
  background: url("../images/navbar-bg.png") repeat-x left top;

  #nav-inner {
    width: 35%;
    height: 85px;
    #logo {

      img {

        width: 100%;
      }
    }
    ul {
      height: 100%;

      li {
        line-height: 105px;
        text-align: center;

        a {
          // transparent border to stop text
          // from shifting upon hover state
          border: 1px solid rgba(0, 0, 0, 0);
          padding: 5px 8px;
          transition: border .3s;

          &:hover {
            border: 1px solid rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }
}

#hero-section {
  position: relative;
  padding-top: 66.6%;

  #home-bg-con {
  }
  #tag-line-con {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 30%;
    height: auto;

    img {



    }
  }
  #couple-con {
    text-align: left;

    >img {
      width: 40%;
    }
  }
}

#services-banner {
  @include fixed-wood-bg();
  padding: 23px 0;
  position: relative;

  ul {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    li {
      float: left;
      padding: 0 20px;
      width: 50%;

      .div-frame-inner {
        font-weight: 700;
        font-size: 30px;

        h3 {
          text-transform: uppercase;
        }
      }
    }
  }
}

#about-us {
  border-bottom: 5px solid #AE361F;
  height: 380px;

  .about-us-inner {
    width:  25%;
    margin-left: auto;
    margin-right: auto;

    h2 {
      padding: 20px 0;
      @include font-size($home-section-header);
    }
    p {
      text-align: left;
      padding-bottom: 20px;
    }
  }
}

#request-a-quote {
  h2 {
    padding: 20px 0;
    @include font-size($home-section-header);
  }
}

footer {
  @include fixed-wood-bg();
  padding: 50px 0;
  color: #fff;

  ul:first-of-type {
    @include font-size(30);
    overflow: hidden;
    width: 50%;
    margin: 0 auto;

    li {
      width: 33.33%;
      float: left;
    }
  }
}
#our-work-wrapper {
  #our-work-header-con {
    text-align: center;
  }
  .our-work-items {
    overflow: hidden;

    .our-work-item {
      float: left;
      width: 33.33%;
      height: 300px;
      // TODO: Delete border
      border: 1px solid black;
      background-image: url(../images/our-work/our-work-1.png);
      background-size: 100% 100%;

      &:hover {
        width: 33.33%;
        z-index: 2;
        background-image: url(../images/our-work/our-work-2.png);
      }
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }
}



