// bower:scss
// endbower

@import 'fonts';

/*****************************
 SCSS Variables
******************************/
// Font Sizes:
$default-font-size: 17;
$home-h2: 24;
$mobile-h3: 14;

// Globals:
$nav-bar-height: 105px;
$mobile-nav-bar-height: 70px;
$thin-white-bar: 40px;
// Colors:
$dark-brown: #AF3720;
$white: #fff;
$light-tan: #E5D7CB;

/*****************************
 SCSS Mixins
******************************/
@mixin font-size($px) {
    font-size: $px * 1px;
    font-size: $px / $default-font-size * 1rem;
}
@mixin box-sizing($value) {
    -webkit-box-sizing: $value; /* Android ≤ 2.3, iOS ≤ 4 */
    -moz-box-sizing: $value; /* Firefox ≤ 28 */
    box-sizing: $value; /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */
}
@mixin border-radius($value:$default-border-radius) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */

    /* useful if you don't want a bg color from leaking outside the border: */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}
@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    box-shadow: $shadows;
}
@mixin transition($transitions...) {
    -webkit-transition: $transitions;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
@mixin transform($transformations...) {
    -webkit-transform: $transformations;  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: $transformations;  /* IE 9 */
    transform: $transformations;  /* Firefox 16+, IE 10+, Opera */
}
@mixin fixed-wood-bg () {
  background: url("../images/wood.png");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: repeat;
}
@mixin white-wood-bg ($posX, $posY) {
  background: url("../images/wood-white.jpg");
  background-position: $posX $posY;
  background-size: 100%;
  background-repeat: repeat;
}
@mixin thin-white-bar ($margin) {
  background: url("../images/thin-white-bar.png") repeat-x left center;
  background-size: auto 100%;
  height: 68px;
  margin: $margin;
}

/**************************************
 Resets
 **************************************/
html,body,div,span,applet,object,
iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,
tt,var,b,u,i,center,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  // vertical-align: baseline;
}
html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  font: 13px/1.1 Helvetica,sans-serif;
  text-align: center;
  font-family: 'BigMummy';
  -webkit-font-smoothing: antialiased;
  image-rendering: -webkit-optimize-contrast;
}
ol,ul {
  list-style: none;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
p{
  line-height: 1.6;
}
a {
  text-align: center;
  text-transform: uppercase;
}
a,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}
img {
  width: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
textarea {
  outline: none; // remove blue glow
  overflow: auto; // remove IE scrollbars
}
/* Placeholer text color */
::-webkit-input-placeholder {
  color: silver;
}
:-moz-placeholder { /* Firefox 18- */
  color: silver;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: silver;
}
:-ms-input-placeholder {
  color: silver;
}

/**************************************
 Helper Classes
 **************************************/
.table,
.table-cell {
    width: 100%;
    height: 100%;
}
.table {
    display: table;
}
.table-row {
  display: table-row;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.clearfix-group:after {
  content: "";
  display: table;
  clear: both;
}
.anchor-scroll-tag {
  display: block;
  padding-top: $nav-bar-height;
  margin-top: -$nav-bar-height;
}
.div-frame-outer {
  display: table;
  border: 3px solid $white;
  padding: 3px;
  width: 100%;

  .div-frame-inner {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    background: $white;
  }
}

/**************************************
 Skrollr Parallax Helper Classes
 **************************************/
#skrollr-body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.skrollr-window {
  position: relative;
  width: 100% !important;
  overflow: hidden;
}
.skrollr-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**************************************
 App Styles
 **************************************/
nav#nav-outer {
  width: 100%;
  position: fixed;
  height: $nav-bar-height;
  z-index: 1;
  background: url("../images/nav-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #404040;

  // Desktop Nav Bar
  #nav-inner {
    margin: 0 auto;
    min-width: 760px;
    width: 58%;
    height: 100%;

    ul.table {
      width: 60%;
      margin: 0 auto;
      border-collapse: separate;
      border-spacing: 20px;
      vertical-align: middle;

      li {
      vertical-align: middle;
        min-width: 110px;
        width: 25%;
        margin: 0 3px;

        #logo  img{width: 93%; position: relative; top: 2px;}
        span {
          display: block;
          padding: 2px 4px;
          // transparent border to stop text
          // from shifting upon hover state
          border: 3px solid transparent;
          @include transition (border-color 0.35s);
        }
        &:hover span {
          border-color: rgba(118, 101, 85, 1);
          @include transition (border 0.35s);
        }
      }
    }
  }

  // Mobile Menu
  #menu-icon {
    display: none;
    position: absolute;
    top: 27px;
    right: 9px;
    width: 40px;
    cursor: pointer;
    z-index: 2;
  }
  #mobile-menu-underlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    z-index: 200;
  }
  #mobile-slide-menu-con {
    z-index: 999;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: -40%;
    padding: 50px 30px;
    width: 40%;
    min-height: 1000px;
    @include transition(right 1s ease-in-out);
    z-index: 300;

    #mobile-menu-bg {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1
    }
    #mobile-close-btn {
      position: absolute;
      top: 1px;
      right: 3px;
      width: 25px;
      cursor: pointer;
    }
    li {
      cursor: pointer;
      margin-bottom: 30px;
      .div-frame-outer {
        border-width: 2px;
        padding: 2px;

        .div-frame-inner {
          background: url(../images/service-link-bg.png) no-repeat center;
          background-size: 100% 100%;
          padding: 2px;
          h2 {
            @include font-size(12);

            a:hover {
              color: $dark-brown;
            }
          }
        }
      }
    }
  }
}

// Parallax Hero Section
#hero-section {
  position: relative;
  padding-top: 70%;
  overflow: hidden;

  #home-bg-con {
    background: url(../images/home-bg.jpg) no-repeat center bottom;
    background-size: 100%;
  }
  #tag-line-con {
    background: url(../images/tag-line2.png) no-repeat center center;
    background-size: 75%;
  }
  #couple-con {
    background: url(../images/couple.png) no-repeat top left;
    background-size: 28%;
  }
}

#services-banner {
  @include fixed-wood-bg();
  position: relative;
  min-height: 500px;

  .thin-white-bar-top {
    @include thin-white-bar(0 0 30px 0);
  }
  .thin-white-bar-bottom {
    @include thin-white-bar(0);
  }
  h2 {
    color: transparent;
    text-indent: -5000px;
    background: url(../images/services-header.png) no-repeat center;
    background-size: 450px;
    height: 110px;
  }
  ul {
    min-width: 490px;
    width: 40%;
    overflow: hidden;
    margin: 0 auto 75px;

    li {
      float: left;
      width: 50%;
      padding: 10px 10px;

      .div-frame-outer {
        .div-frame-inner {
          background: url(../images/service-link-bg.png) no-repeat center;
          height: 75px;

          h3 {
            padding: 0 10px;
            width: 100%;
            @include font-size(18);

            font-weight: 700;
            text-transform: uppercase;

            a:hover {
              color: $dark-brown;
            }
          }
        }
      }
    }
  }
}

#about-us-section {
  @include white-wood-bg(left, top);
  border-bottom: 5px solid $dark-brown;

  .about-us-outer {
    width: 320px;
    margin: 0 auto 10px;
    padding: 0 20px;

    .about-us-inner {
      text-align: center;
      vertical-align: middle;

      h2 {
        padding: 20px 0;
        @include font-size($home-h2);
      }
      p {
        font-family: 'Bodini MT';
        @include font-size(13);
        font-weight: bold;
        text-align: left;
        padding-bottom: 20px;
      }
    }
  }
}

/*******************************
  Services Page Template
********************************/
.services-page-wrapper {
  background: url(/images/wood.png) repeat-y top left;
  background-size: 100% auto;
  background-attachment: fixed;
  padding-top: $nav-bar-height;
  text-transform: uppercase;

  .header-cont {
    @include white-wood-bg (left, top);
    padding: 40px 0;
    margin-bottom: 15px;

    h2.first-header-line {
      @include font-size(26);
    }
    h2.second-header-line {
      color: transparent;
      text-indent: -5000px;
      background: url(/images/services/services-header.png) no-repeat center;
      background-size: 20% auto;
      height: 110px;
    }
    ul.services-list {
      margin: 20px auto 0;
      overflow: hidden;
      width: 60%;

      li.service-item {
        float: left;
        width: 25%;
        padding: 0 5px;

        a {
          width: 100%;
          height: 100%;
          display: block;

          img {
            width: 85px;
          }
          h3 {
          }
        }
        &:hover img.svg {
          fill: $dark-brown;
        }
        &:hover h3 {
          color: $dark-brown;
        }
      }
    }
  }
  section.service-cont {
    margin: 30px 0 0;
    padding-bottom: 30px;

    .service-header {
      @include white-wood-bg (left, top);
      margin-bottom: 60px;
      height: 100px;
      .table {
        width: 25%;
        margin: 0 auto;

        .table-cell {
          img {
            width: 35px;
          }
          h3 {
            @include font-size(20);
            margin-top: 5px;
          }
        }
      }
    }
    ul {
      @include box-shadow (0px 0px 55px 18px #000);

      li {
        display: block;
        float: left;
        width: 33.33%;

        img {
          display: block;
        }
      }
    }
  }
  .end-image-section {
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
}

#request-a-quote-section {
  @include white-wood-bg(left, bottom);
  padding: 0 0 20px 0;
  min-height: 275px;
  font-weight: 800;

  .outer-wrapper {
      width: 40%;
      margin: 0 auto;


    .inner-wrapper {
      text-align: center;
      vertical-align: middle;

      h2 {
        padding: 20px 0;
        @include font-size($home-h2);
      }
      form{

        input,
        textarea {
          background-clip: content-box;
          // TODO: get licensed font from Chris
          font-family: 'Blacksword';
          @include font-size(20);
          border: 2px solid $dark-brown;
          margin: 0 0 10px 0;
          height: 35px;
          padding-left: 5px;
          @include white-wood-bg(top, left);
          // For fun with white-wood-bg
            // TODO: add ie support with
            // https://css-tricks.com/snippets/css/css-box-shadow/
          background-attachment: fixed;
          @include box-shadow(inset 0 0 12px #000000);
        }
        input[name="name"] {
          float: left;
          width: 48.5%;
        }
        input[name="email-address"] {
          float: right;
          width: 48.5%;
        }
        input[name="phone-number"],
        textarea {
          width: 100%;
        }
        textarea {
          height: 135px;
          max-height: 500px;
          resize: vertical;
        }
        input[type="submit"] {
          background: none;
          @include box-shadow(none);
          float: right;
          font-family: 'BigMummy';
          @include font-size(25);
          width: 120px;
          height: 35px;
          padding: 0;
          border: none;
          margin: 0;
          background-color: #000;
          color: $white;
          text-transform: uppercase;
          cursor: pointer;
          @include transition(all 0.3s);

          &:hover {
            background-color: $dark-brown;
            @include transition(all 0.3s);
          }
        }
      }
    }
  }
}

/********************************
 Footer
*******************************/
footer {
  @include fixed-wood-bg();
  @include box-shadow(inset 0 0 10000px #000000);

  font-family: 'DINEngsbek';
  color: $light-tan;
  width: 100%;

  .footer-upper-half {
    @include font-size(10);

    ul.links {
        padding: 20px 5px 5px;

      li {
        position: relative;
        @include font-size(32);
        display: inline-block;
        padding: 0 20px;
        border: 2px solid transparent;
        margin: 0 11px;
        height: 35px;
        vertical-align: middle;
        @include transition (border-color 0.35s);

        &:hover {
          border-color: $light-tan;
          @include transition (border 0.35s);
        }

        // Pipe seperator only
        // for 2nd link forward
        & + li::before {
          content: " | ";
          @include font-size(30);
          display: inline-block;
          position: absolute;
          top: 0;
          left: -17px;
          vertical-align: top;
        }
        a {
          line-height: 38px;
          color: $light-tan;
        }
      }
    }
  }

  .thin-white-bar {
    @include thin-white-bar(0);
  }

  .footer-lower-half {
    padding: 7px 0 18px;
    // reset to vert align all children
    @include font-size(0);
    letter-spacing: 0;
    word-spacing: 0;

    .copyright,
    ul.social-icons,
    li.social-icon {
      vertical-align: middle;
      display: inline-block;
      // undo reset in parent cont
      @include font-size(18);
      letter-spacing: 1px;
      word-spacing: .1em;
    }
    .copyright {
      @include font-size(25);
      margin: 0 3px 0 0;

    }
    ul.social-icons {
      margin: 0 0 0 5px;

      li.social-icon {
        margin: 0 1px;
        width: 27px;
        vertical-align: middle;

        a {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/**************************************
 Media Queries
 **************************************/

@media (max-width: 1024px) {

} /* @media (max-width: 1024px) */

@media (max-width: 768px) {
  nav#nav-outer {
    height: $nav-bar-height * 0.6;

    #nav-inner {
      margin: 0 auto;
      min-width: 0;
      width: 100%;
      height: 100%;

      ul.table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 80%;
        margin: 0 auto;

        li {
          @include font-size(12);

          #logo img{
            width: 80px;
            top: 1px;
          }
          span {
            margin: 0 3px;
          }
        }
      }
    }
  }

  #services-banner {
    min-height: 0;
    .thin-white-bar-top {
      margin: 0;
      height: 40px;
    }
    .thin-white-bar-bottom {
      margin: 0;
      height: 40px;
    }
    h2 {
      height: 60px;
    }
    ul {
      margin: 0 auto 10px;
      width: 50%;
      min-width: 0;

      li {
        padding: 5px 5px;

        .div-frame-outer {
          .div-frame-inner {
            height: 65px;

            h3 {
              @include font-size($mobile-h3);
              padding: 0;
            }
          }
        }
      }
    }
  }

  #about-us-section {
    border-bottom-width: 7px;

    .about-us-outer {
      width: 40%;
      .about-us-inner {

        h2 {


        }
        p {

        }
      }
    }
  }

  #request-a-quote-section {
    padding: 10px 15px 30px;

    .outer-wrapper {
      width: 70%;

      .inner-wrapper {

        h2 {

        }
        form{

          input,
          textarea {

          }
          input[type="submit"] {
            width: 100px;
            height: 30px;
            @include font-size(23);
          }
        }
      }
    }
  }

  // Services Page Template
  .services-page-wrapper {
    padding-top: 60px;

    .header-cont {


      h2.first-header-line {

      }
      h2.second-header-line {

      }
      ul.services-list {


        li.service-item {


          a {


            img {

            }
            h3 {
            }
          }
        }
      }
    }
    section.service-cont {


      .service-header {

        .table {


          .table-cell {
            img {

            }
            h3 {

            }
          }
        }
      }
      ul {

        li {


          img {

          }
        }
      }
    }

    .end-image-section {
      background-attachment: scroll;
      height: 400px;
    }
  }

  // Footer
  footer {
    background: url(../images/mobile/footer-bg.png) no-repeat center center;
    background-size: 100% 100%;

    .footer-upper-half {
      padding: 10px 0;
      ul.links {
        width: 100%;
        padding: 0;

        li {
          width: 21%;
          margin: 0 15px;
          padding: 0 5px;

          // Pipe seperator only
          // for 2nd link forward
          & + li::before {
            left: -23px;
          }
          a {
            @include font-size(28);
          }
        }
      }
    }
    .thin-white-bar {
      height: 40px;
    }

    // .footer-lower-half {
    //   overflow: hidden;
    //   text-align: left;
    //   padding: 10px 26px 5px;

    //   .copyright,
    //   ul.social-icons,
    //   li.social-icon {


    //   }
    //   .copyright {
    //   }
    //   ul.social-icons {
    //     float: right;

    //     li.social-icon {
    //       a {


    //       }
    //     }
    //   }
    // }
  }
} /* @media (max-width: 768px) */

@media (max-width: 480px) {
  body {
    &.mobile-open {
      position: fixed;
      overflow: hidden;

      nav#nav-outer {
        #mobile-menu-underlay {
          display: block;
          @include transition(background-color 2s);
        }
        #mobile-slide-menu-con {
          right: -1%;
        }
      }
    }
  }

  nav#nav-outer {
    height: $nav-bar-height * 0.70;

    #nav-inner {
      margin: 0 auto;
      min-width: 0;
      width: 100%;
      height: 100%;

      ul.table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 80%;
        margin: 5px auto;

        li {
          #logo img{
            width: 20%;
            position: relative;
            top: -3px;
          }
          span {
          }
         &:not(:first-child) {
          display: none;
         }
        }
      }
    }
    #menu-icon {
      display: inline-block;
    }
  }

  #hero-section {
    #home-bg-con {
    }
    #tag-line-con {
      background-position: 50% 65%;
      background-size: 60%;
    }
    #couple-con {
      background-position: 5% 40%;
      background-size: 25%;
    }
  }
  #services-banner {
    min-height: 0;

    .thin-white-bar-top {
      margin: 0;
      height: $thin-white-bar * 0.8;
    }
    .thin-white-bar-bottom {
      margin: 0;
      height: $thin-white-bar * 0.8;
    }
    h2 {
      height: 60px;
    }
    ul {
      margin: 0 auto 10px;
      width: 80%;
      min-width: 0;

      li {
        padding: 5px 5px;

        .div-frame-outer {
          .div-frame-inner {
            height: 40px;

            h3 {
              @include font-size($mobile-h3);
              padding: 0;
            }
          }
        }
      }
    }
  }

  #about-us-section {
    border-bottom-width: 7px;

    .about-us-outer {
      width: 100%;

      .about-us-inner {
        h2 { }
        p { }
      }
    }
  }

  // Services Page Template
  .services-page-wrapper {
    padding-top: 70px;
    .header-cont {
      padding: 15px 0;
      margin-bottom: 10px;

      h2.first-header-line {
        @include font-size(22);
      }
      h2.second-header-line {
        background-size: 50% auto;
        height: 60px;
      }
      ul.services-list {
        width: 100%;
        padding: 0 10px;
        margin: 0;
        li.service-item {
          width: 50%;
          margin-top: 30px;

          a {
            img {
              width: 50%;
            }
            h3 {
              @include font-size(10);
              margin-top: 7px;
            }
          }
        }
      }
    }
    section.service-cont {
      margin: 0;

      .service-header {
        height: 125px;
        margin-bottom: 33px;

        .table {
          width: 100%;
          padding: 0 10px;

          .table-cell {
            img {
            }
            h3 {
            }
          }
        }
      }
      ul {
        li {
          width: 50%;

          img {
          }
        }
      }
    }
    .end-image-section {
      background-attachment: scroll;
      height: 100px;
    }
  }

  // Global Sections
  #request-a-quote-section {
    padding: 10px 15px 30px;

    .outer-wrapper {
      width: 100%;

      .inner-wrapper {
        h2 { }
        form{
          input,
          textarea { }
          textarea { }
          input[type="submit"] {
            width: 100px;
            height: 30px;
            @include font-size(23);
          }
        }
      }
    }
  }

  footer {
    background-attachment: scroll;
    background-size: 100% 100%;

    .footer-upper-half {
      padding: 10px 0;

      ul.links {
        width: 100%;
        padding: 0;

        li {
          width: 31%;
          margin: 0 3px;
          padding:0 1px;

          // Pipe seperator only
          // for 2nd link forward
          & + li::before {
            left: -9px;
          }
          a {
            @include font-size(22);
          }
        }
      }
    }
    .thin-white-bar {
    }
    .footer-lower-half {
      width: 90%;
      overflow: hidden;
      text-align: left;
      padding: 10px 0px 5px;
      margin: 0 auto;

      .copyright,
      ul.social-icons,
      li.social-icon {
      }
      .copyright {
        @include font-size(22);
      }
      ul.social-icons {
        float: right;

        li.social-icon {
          a {
          }
        }
      }
    }
  }
}

